:root {
  --taskbar-align: left;
  --icon-size: 100px;
  --icon-spacing: 20px;
  
  --white-grey: #D4D0C8;
  --fake-white: #f4f3f1;
}

body {
	margin: 0;
	font-family: Tahoma;
	background: black;
	overflow: hidden;
}

.wallpaper {
	min-height: 100vh;
	width: 100%;
	background: #3A6EA5;
}

.sign {
	z-index: 1;
	color: var(--fake-white);
	font-weight: bold;
	position: absolute;
	bottom: 60px;
	right: 20px;
	font-size: 40px;
	user-select: none;
}

.grid {
	display: inline-flex;
	flex-direction: column;
	gap: var(--icon-spacing);
	flex-wrap: wrap;
	
	padding: var(--icon-spacing);
	height: 75vh;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	z-index: 2;
	user-select: none;
	width: var(--icon-size);
	height: calc(var(--icon-size)*(4/5));
	border: 2px solid transparent;
	border-radius: 10px;
	transition: background 0.2s;
}

.icon img {
	height: 90px;
}

.icon span {
	text-align: center;
	color: white;
	font-size: 14px;
	position: relative;
	top: -20px;
}

.icon:hover {
	background-color: rgb(255, 255, 255, 0.05);
	cursor: pointer;
}

.icon:active {
	transform: scale(0.98);
}

.icon[focused] {
	border: 2px solid rgb(177, 181, 196, 0.2);
	background-color: rgb(255, 255, 255, 0.1);
}

.taskbar {
	display: flex;
	justify-content: var(--taskbar-align);
	align-items: center;
	
	user-select: none;
	color: black;
	position: sticky;
	top: 100%;
	height: 40px;
	padding: 0 6px;
	background: var(--white-grey);
}

.taskbar img {
	height: 23px;
}

/* due to shitty img format */
.taskbar .task img {
	height: 38px;
}

.start-menu {
	display: flex;
	align-items: center;
	gap: 5px;
	
	padding: 0 9px 0 5px;
	font-weight: bold;
	border: 3px outset white;
	height: 25px;
}

.start-menu:active {
	border: 3px inset white;
	transform: scale(0.98);
}

.task-separator {
	width: 3px;
	height: 60%;
	margin: 0 7px;
	background: #999;
	border-radius: 10px;
}

ul.tasks {
	position: relative;
	display: flex;
	align-items: center;
	gap: 6px;
	
	list-style-type: none;
	margin: auto;
	padding: 0;
	width: auto;
	height: 80%;
	overflow: hidden;
}

li.task {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 5px;
	
	border: 3px outset white;
	height: 25px;
	min-width: 180px;
}

li.task:active {
	border: 3px inset white;
	transform: scale(0.98);
}

li.task[focused] {
	background: var(--fake-white);
	border: 3px inset white;
	font-weight: bold;
}

li.task span {
	color: black;
	display: block;
	text-align: center;
	text-decoration: none;
}

li.task:hover {
	/* text-decoration: underline; */
	cursor: pointer;
}